/* piece of code retrieved form https://www.youtube.com/watch?v=Wzj3jfBEXIY&ab_channel=masterCode and change to fit my own purpose */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  line-height: 100%;
  font-family:sans-serif,Arial;
  
}

#developer-tree ul {
  padding-left: 2vw;
  position: relative;
}

#developer-tree ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#developer-tree ul li span {
  position: relative;
  display: block;
  
  background-color: white;
  border: solid 1px #000;
  border-radius: 5px;

  
  font-size: 9px;
  width:150px;
  padding: 10px;
}
#developer-tree ul li span:hover {
  background-color: #c8e4f8;
}
.male {
  background-color: lightblue;
  padding: 7px;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.female {
  background-color: lightpink;
  padding:7px;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  
}


#developer-tree ul li > ul::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 2vw;
  border-top: solid 1px #000;
}

#developer-tree ul li > ul li {
  padding: 10px;
}

#developer-tree ul li > ul li::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 2vw;
  border-top: solid 1px #000;
}

#developer-tree ul li > ul li::after {
  position: absolute;
  content: '';
  left: 0;
  border-left: solid 1px #000;
}

#developer-tree ul li > ul li:first-of-type::after {
  height: 50%;
  bottom: 0;
}

#developer-tree ul li > ul li:last-of-type::after {
  height: 50%;
  top: 0;
}

#developer-tree ul li > ul li:not(:first-of-type):not(:last-of-type)::after {
  height: 100%;
}
/*# sourceMappingURL=main.css.map */