body {
    /* background-color: rgb(165, 146, 146); */
    background-color: lightgrey;
    font: Arial, sans-serif;
    font-size: 12pt;
}

.trees .active {
    background-color: white;
    border-color: white;
}

.trees .inactive {
    background-color: rgb(155, 150, 150);
    border-color: rgb(155, 150, 150);
}

.trees .label {
    color:black;
    text-decoration: none;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.label:hover{
    background-color: #c8e4f8;
    text-decoration: none;
}